:root{
    --fond : #262335;
    --titres: #fff;
    --texte : #71689E;
    --hover : #93919a;
}

*{
    font-family: 'Inter', sans-serif;
    font-size: 1.2vw;
    background-color: var(--fond);
}
.section{
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 20vh;
    align-items: center;
    justify-content: center;
    display: block;
    padding-bottom: 20vh;
    background-color: var(--fond);
}

.img-profile {
    display: flex;
    margin: auto;
    width: 10vw;
}

.h1{
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 10px;
    font-size: 1.8vw;
}

.centrer {
    align-items: center;
    justify-content: center;
    display: flex;
    color : var(--texte);
    font-size: 1.2vw;
}

.logos{
    width: 1.2vw;
    padding: 0.5vw;
    font-size: 1.2vw;
    transition: all 0.1s ease-in-out;
}
.icon{
    background: none;
}
.logos:hover{
    transform: scale(1.2);
}