:root{
    --fond : #262335;
    --titres: #fff;
    --texte : #71689E;
    --hover : #93919a;
    --textes : #d4d3d7;
}


.form{
    margin-top: 3vh;
}

.espace{
    margin-bottom: 3vh;
}

label{
    display: block;
}

input{
    border: 1px solid white;
}

.btn {
    display: block;
    background-color: aquamarine;
}

.btn:hover{
    background-color: var(--hover);
    cursor: pointer;
}
